.container {
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/image/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}