.container {
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/image/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}